.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-bottom: 8px;
  }

  .info {
    strong {
      margin-right: 16px;
    }
  }
}
