<nav class="navbar bg-primary">
  <h1 class="header__title">
    <a [routerLink]="['']">Main page</a>
  </h1>

  <ng-container *ngIf="isAuthenticated$ | async as isAuthenticated; else isNotAuthenticated">
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'dashboard']">Post page</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'create']">Create post</a>
      </li>
      <li class="drop__down_wrapper menu">
        <button mat-button [matMenuTriggerFor]="menu">
          <div class="user" *ngIf="profileInfo$ | async as profileInfo">
            <img class="user__img" [src]="profileInfo.photoUrl" alt="">
            <span class="user__email">{{profileInfo.userEmail}}</span>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/admin', 'profile']">My profile</button>
          <button mat-menu-item (click)="openChangePasswordModal()">Change Password</button>
          <button mat-menu-item (click)="logout($event)">Logout</button>
        </mat-menu>
      </li>
    </ul>
  </ng-container>

  <ng-template #isNotAuthenticated>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/login']">Login</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/sing-up']">Sing-up</a>
      </li>
    </ul>
  </ng-template>
</nav>

