.card__wrapper {
  background-color: white;
  max-width: 600px;
  color: black;
  margin: 0 auto;

  .card {
    margin: 0 auto;

    .button__wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        width: 120px;
        background-color: #4351a9;

        &:disabled {
          background-color: #bdbdbd;
        }
      }
    }

    .form-control {
      .form-validation {
        color: red;
        display: block;
      }
    }
  }


}

