<h1 class="edit__profile_title" mat-dialog-title>Edit profile</h1>
<div mat-dialog-content>
  <form action="" [formGroup]="form" (ngSubmit)="submit()">
    <div class="content__wrapper">

      <div class="user__photo">
        <label for="avatarInput" class="edit__photo" (click)="editPhoto()">
          <img class="photo" src="assets/camera.svg" alt="Edit photo">
        </label>

        <input class="avatarInput"
               id="avatarInput"
               type="file"
               accept="image/jpeg, image/png"
               #fileUpload>
        <img class="photo" [src]="form.value.userPhoto" alt="">
      </div>

      <div class="display__name">
        <label for="fullName">Full name</label>
        <input class="full__name_input" id="fullName" type="text" formControlName="fullName">
      </div>

      <div *ngIf="form.get('fullName').touched && form.get('fullName').errors?.required">
        <small style="color: red">Full name not be empty</small>
      </div>

      <div class="btns">
        <button class="btn__close" mat-raised-button mat-button mat-dialog-close (click)="modalClose()">Cancel</button>
        <button
          [ngClass]="{invalid: !!form.invalid || isDisabled}"
          mat-raised-button color="primary"
          mat-button type="submit"
          [disabled]="!!form.invalid">Update
        </button>
      </div>

    </div>
  </form>
</div>

<ng-container *ngIf="userProfile$ | async"></ng-container>

