<div *ngIf="posts?.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Search post ..." [(ngModel)]="searchPost">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Email user</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="userEmail$ | async as userEmail">
      <tr *ngFor="let post of posts | searchPosts:searchPost; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{post.author}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date | date: 'medium': 'ru': 'ru'}}</td>
        <td>{{post.emailOwner}}</td>
        <td>
          <button
            class="button_edit"
            mat-raised-button
            [disabled]="userEmail.userEmail !== post.emailOwner"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >Edit
          </button>
          <button
            mat-raised-button
            [disabled]="userEmail.userEmail !== post.emailOwner"
            (click)="remove(post.id)"
          >Delete
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Posts not created ...</p>
</ng-template>

