<mat-card *ngIf="profileData$ | async as profileData">
  <div class="wrapper__edit_icon" (click)="editProfile()">
    <img #imgProfile class="icon" [src]="'assets/edit_img2.png'" alt="edit-icon">
  </div>
  <div class="user__img">
    <img class="user__photo" [src]="profileData.photoUrl ? profileData.photoUrl : 'assets/user_icon.png'" alt="">
  </div>
  <div class="user__info">
    <div class="first__name_wrapper">
      <div class="label">Full name</div>
      <div class="name">{{profileData.displayName ? profileData.displayName : '-'}}</div>
    </div>
    <div>
      <div class="label">Email</div>
        <div class="name">{{profileData.userEmail}}</div>
    </div>
  </div>
</mat-card>
