<h1 class="change__password_title" mat-dialog-title>Change password modal</h1>
<form action="" [formGroup]="form" (ngSubmit)="submit()">
  <div class="input__change">
    <label for="inputPassword" class="label__password">New password</label>
    <input id="inputPassword" class="input__password" type="text" formControlName="newPassword">
  </div>
  <div *ngIf="form.get('newPassword').touched && form.get('newPassword').errors?.required">
    <small style="color: red">Full name not be empty</small>
  </div>
  <div class="btns" mat-dialog-actions>
    <button mat-raised-button mat-button mat-dialog-close>Cancel</button>
    <button [ngClass]="{'bat__invalid': form.invalid}"
            class="btn__change_password"
            mat-raised-button color="primary"
            mat-button type="submit"
            [disabled]="form.invalid">Ok
    </button>
  </div>
</form>

<ng-container *ngIf="changePassword$ | async"></ng-container>
