.change__password_title {
  color: black;
}

.btns {
  display: flex;
  justify-content: flex-end;
  .bat__invalid{
    background-color: #888888;
    color: white;
  }
}

.input__change {
  display: flex;
  flex-direction: column;

  .label__password{
    color: black;
  }

  .input__password {
    all: unset;
    color: black;
    border-bottom: 1px solid black;
  }
}


